<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.itbang.dao.system.SysUserDao">
    <resultMap id="BaseResultMap" type="com.itbang.entity.system.SysUser">
        <constructor>
            <idArg column="user_id" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="user_code" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="user_password" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="user_name" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="user_sex" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="user_birthday" jdbcType="DATE" javaType="java.util.Date"/>
            <arg column="user_email" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="user_icard" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="user_phone" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="create_time" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
            <arg column="update_time" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
            <arg column="flag" jdbcType="INTEGER" javaType="java.lang.Integer"/>
            <arg column="create_user_id" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="update_user_id" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="create_ins_id" jdbcType="VARCHAR" javaType="java.lang.String"/>
        </constructor>
    </resultMap>
    <sql id="Base_Column_List">
    user_id, user_code, user_password, user_name, user_sex, user_birthday, user_email, 
    user_icard, user_phone, create_time, update_time, flag, create_user_id, update_user_id, 
    create_ins_id
  </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from sys_user
        where user_id = #{userId,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from sys_user
    where user_id = #{userId,jdbcType=VARCHAR}
  </delete>
    <insert id="insert" parameterType="com.itbang.entity.system.SysUser">
    insert into sys_user (user_id, user_code, user_password, 
      user_name, user_sex, user_birthday, 
      user_email, user_icard, user_phone, 
      create_time, update_time, flag, 
      create_user_id, update_user_id, create_ins_id
      )
    values (#{userId,jdbcType=VARCHAR}, #{userCode,jdbcType=VARCHAR}, #{userPassword,jdbcType=VARCHAR}, 
      #{userName,jdbcType=VARCHAR}, #{userSex,jdbcType=VARCHAR}, #{userBirthday,jdbcType=DATE}, 
      #{userEmail,jdbcType=VARCHAR}, #{userIcard,jdbcType=VARCHAR}, #{userPhone,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{flag,jdbcType=INTEGER}, 
      #{createUserId,jdbcType=VARCHAR}, #{updateUserId,jdbcType=VARCHAR}, #{createInsId,jdbcType=VARCHAR}
      )
  </insert>
    <insert id="insertSelective" parameterType="com.itbang.entity.system.SysUser">
        insert into sys_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">
                user_id,
            </if>
            <if test="userCode != null">
                user_code,
            </if>
            <if test="userPassword != null">
                user_password,
            </if>
            <if test="userName != null">
                user_name,
            </if>
            <if test="userSex != null">
                user_sex,
            </if>
            <if test="userBirthday != null">
                user_birthday,
            </if>
            <if test="userEmail != null">
                user_email,
            </if>
            <if test="userIcard != null">
                user_icard,
            </if>
            <if test="userPhone != null">
                user_phone,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="flag != null">
                flag,
            </if>
            <if test="createUserId != null">
                create_user_id,
            </if>
            <if test="updateUserId != null">
                update_user_id,
            </if>
            <if test="createInsId != null">
                create_ins_id,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">
                #{userId,jdbcType=VARCHAR},
            </if>
            <if test="userCode != null">
                #{userCode,jdbcType=VARCHAR},
            </if>
            <if test="userPassword != null">
                #{userPassword,jdbcType=VARCHAR},
            </if>
            <if test="userName != null">
                #{userName,jdbcType=VARCHAR},
            </if>
            <if test="userSex != null">
                #{userSex,jdbcType=VARCHAR},
            </if>
            <if test="userBirthday != null">
                #{userBirthday,jdbcType=DATE},
            </if>
            <if test="userEmail != null">
                #{userEmail,jdbcType=VARCHAR},
            </if>
            <if test="userIcard != null">
                #{userIcard,jdbcType=VARCHAR},
            </if>
            <if test="userPhone != null">
                #{userPhone,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="flag != null">
                #{flag,jdbcType=INTEGER},
            </if>
            <if test="createUserId != null">
                #{createUserId,jdbcType=VARCHAR},
            </if>
            <if test="updateUserId != null">
                #{updateUserId,jdbcType=VARCHAR},
            </if>
            <if test="createInsId != null">
                #{createInsId,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.itbang.entity.system.SysUser">
        update sys_user
        <set>
            <if test="userCode != null">
                user_code = #{userCode,jdbcType=VARCHAR},
            </if>
            <if test="userPassword != null">
                user_password = #{userPassword,jdbcType=VARCHAR},
            </if>
            <if test="userName != null">
                user_name = #{userName,jdbcType=VARCHAR},
            </if>
            <if test="userSex != null">
                user_sex = #{userSex,jdbcType=VARCHAR},
            </if>
            <if test="userBirthday != null">
                user_birthday = #{userBirthday,jdbcType=DATE},
            </if>
            <if test="userEmail != null">
                user_email = #{userEmail,jdbcType=VARCHAR},
            </if>
            <if test="userIcard != null">
                user_icard = #{userIcard,jdbcType=VARCHAR},
            </if>
            <if test="userPhone != null">
                user_phone = #{userPhone,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="flag != null">
                flag = #{flag,jdbcType=INTEGER},
            </if>
            <if test="createUserId != null">
                create_user_id = #{createUserId,jdbcType=VARCHAR},
            </if>
            <if test="updateUserId != null">
                update_user_id = #{updateUserId,jdbcType=VARCHAR},
            </if>
            <if test="createInsId != null">
                create_ins_id = #{createInsId,jdbcType=VARCHAR},
            </if>
        </set>
        where user_id = #{userId,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.itbang.entity.system.SysUser">
    update sys_user
    set user_code = #{userCode,jdbcType=VARCHAR},
      user_password = #{userPassword,jdbcType=VARCHAR},
      user_name = #{userName,jdbcType=VARCHAR},
      user_sex = #{userSex,jdbcType=VARCHAR},
      user_birthday = #{userBirthday,jdbcType=DATE},
      user_email = #{userEmail,jdbcType=VARCHAR},
      user_icard = #{userIcard,jdbcType=VARCHAR},
      user_phone = #{userPhone,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      flag = #{flag,jdbcType=INTEGER},
      create_user_id = #{createUserId,jdbcType=VARCHAR},
      update_user_id = #{updateUserId,jdbcType=VARCHAR},
      create_ins_id = #{createInsId,jdbcType=VARCHAR}
    where user_id = #{userId,jdbcType=VARCHAR}
  </update>
</mapper>
